@model ProductSearchVm

<div class="all-search-product">
    <div class="container">
        <div class="row d-flex ">
            @if (Model.Products.Count()>0 )
            {
                @foreach (var item in Model.Products)
                {
                    string PhotoUrl = PictureHelper.getCoverPhoto(item.CoverPhotoId, item.ProductPictures);
                    <div class="search-product col-lg-3">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                            <div class="top-image">
                                <img class="img-fluid" src="@PhotoUrl" />
                            </div>
                        </a>

                        <h6>@item.Category.CategoryName</h6>
                        <h2>@item.Name</h2>
                        <p>@item.Description</p>
                    </div>
                }
            }
            else
            {
                <p class="alert alert-danger">Axtarışa uyğun nəticə tapılmadı</p>
            }

        </div>
    </div>
</div>