@model CartVm

<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Cart</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1">
        <img src="assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2">
        <img src="assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>
  @{
             decimal totalPrice = 0;
         }
     
<div class="cart-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 my-cart-area">
                @if(Model!=null && Model.ProductList!= null && Model.ProductIds!=null && Model.ProductIds.Count > 0)
                {
                    <form action="#">
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="width-thumbnail"></th>
                                            <th class="width-name">Product</th>
                                            <th class="width-price"> Price</th>
                                            <th class="width-quantity">Quantity</th>
                                            <th class="width-subtotal">Subtotal</th>
                                            <th class="width-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                    @foreach (var item in Model.ProductList)
                                    {
                                            var Quantity = Model.ProductIds.Where(x => x == item.Id).Count();
                                            totalPrice += item.Price * Quantity;
                                            string PhotoUrl = PictureHelper.getCoverPhoto(item.CoverPhotoId, item.ProductPictures);
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a asp-controller="Product" asp-action="Index"><img src="@PhotoUrl" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a></h5>
                                            </td>
                                            <td class="product-cart-price"><span class="amount">$@item.Price</span></td>
                                            <td class="cart-quality">
                                                <div class="product-quality" pro-id="@item.Id" pro-price="@item.Price">
                                                    <input  class="cart-plus-minus-box input-text qty text" name="qtybutton" value="@Quantity">
                                                </div>
                                            </td>
                                            <td class="product-total"><span>$@(item.Price*Quantity)</span></td>
                                            <td class="product-remove" pro-id="@item.Id"><a href="javascript:void(0)"><i class=" ti-trash "></i></a></td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update btn-hover">
                                    <a href="#">Continue Shopping</a>
                                </div>
                                <div class="cart-clear-wrap">
                                    <div class="cart-clear btn-hover">
                                        <button>Update Cart</button>
                                    </div>
                                    <div class="cart-clear btn-hover">
                                        <a href="#">Clear Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                }
                else
                {
                   <p class="alert alert-danger">Səbətdə Məhsul Yoxdur</p>
                }
            </div>
        </div>
        <div class="row">
          
            <div class="col-lg-4 col-md-12 col-12">
                <div class="grand-total-wrap">
                    <div class="grand-total-content">
                      @*  <h3>Subtotal <span>$180.00</span></h3>
                       <div class="grand-shipping">
                            <span>Shipping</span>
                            <ul>
                                <li><input type="radio" name="shipping" value="info" checked="checked"><label>Free shipping</label></li>
                                <li><input type="radio" name="shipping" value="info" checked="checked"><label>Flat rate: <span>$100.00</span></label></li>
                                <li><input type="radio" name="shipping" value="info" checked="checked"><label>Local pickup: <span>$120.00</span></label></li>
                            </ul>
                        </div>
                       <div class="shipping-country">
                            <p>Shipping to Bangladesh</p>
                        </div>*@
                        <div class="grand-total">
                            <h4>Total <span>$@totalPrice</span></h4>
                        </div>
                    </div>
                    <div class="grand-total-btn btn-hover">
                        <a class="btn theme-color" asp-controller="Order" asp-action="CheckOut">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>