@model IEnumerable<Entities.Category>
@{
    ViewData["Title"] = "Kateqoriya Siyahısı";
    ViewData["Link"] = "Kateqoriyalar";
}

<h1>Kateqoriyalar</h1>

<p>
    <a asp-action="Create"  style="color:blue;font-size:20px">Yarat +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model=>model.IconUrl)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
            <td>@Html.DisplayFor(modelItem=> item.CategoryName)</td>
            <td>
                <i class="@Html.DisplayFor(modelItem=> item.IconUrl) fa-2x"></i>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" style="color:white">Dəyiş</a>|
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="color:white">Detallar</a>|
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="color:white">Sil</a>


            </td>
        </tr> 
        }
        
    </tbody>
</table>



